<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <title>About</title>
    <link href="/views/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="main">
        <div class="title">
            <h1 id="aboutTitle">About</h1>
        </div>
        <div class="details">
            <h3>Created by : Kaneka Duggal</h3>
            <h3>Version : 1.0</h3>
            <h3>Contact : <a href="https://www.linkedin.com/in/kaneka-duggal-118695164/" target="_blank">Linkedin Profile</a> </h3>
        </div>
        <div> <button id="goBack"> Go back </button>  </div>
    </div>
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src='/views/about.js'></script>
</body>
</html>